In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('/Users/ndeen/git/perinatal_epi/Data/LTMdata.Public VersionFINAL.csv')
df.head()

,LTMID,mode,Q_Language,Q510a,Q520,Q610,Q705,Q715,Q716,Q740,...,workagef,height,wtgain,WtBeforePreg,bmi,currentwt,fampctpov,inccat,sampwt,statewt
0,70001n,1,EN,1.0,1,2,1.0,5.0,NaN,3.0,...,NaN,60.0,0.0,198.0,38.67,187.0,74.074074,1.0,19.950387,65.930595
1,70002m,1,EN,2.0,1,2,1.0,3.0,2.0,3.0,...,26.0,68.0,23.0,150.0,22.81,145.0,425.925926,5.0,30.288510,100.095275
2,70003n,1,ES,3.0,2,4,1.0,1.0,1.0,1.0,...,NaN,60.0,10.0,148.0,28.90,154.0,24.554942,1.0,23.204468,76.684446
3,70006c,2,EN,1.0,2,4,2.0,4.0,NaN,1.0,...,NaN,64.0,25.0,90.0,15.45,120.0,63.291139,1.0,21.639044,71.511148
4,70007s,3,EN,3.0,1,4,1.0,4.0,NaN,3.0,...,NaN,65.0,16.0,182.0,30.29,189.0,191.835482,2.0,20.981247,69.337307