EXPOSURE: Maternal Decision-Making Autonomy

OUTCOME: Mode of Delivery

Variable Definitions:

* LTMID - Listening to Mothers ID number
* Q610 - In all how many babies have you had? Please include your new baby. (inclusion criteria - first pregnancies)
* Q885 - During your pregnancy did you ask your maternity care provider to schedule a c-section before the start of labor (before regular contractions)? (do we need to account for "intent" to have a c-section?)
* Q1250 Was the c-section planned ahead of time that is was the decision to have a c-section made before you went into labor? (inclusion criteria)
* Q1255 - What was the main reason for your recent c-section? (Primary c-section)
* insurance - Insurance during pregnancy (demographic)
* racegrp - race/ethnicity
* Q1860 - What is the highest level of education you have completed or the highest degree you have received?
* inccat - Income as a categorical percent of Federal Poverty Guideline in 2016 (FPG)taxes?

**Maternal Autonomy**

* Q1325a - How much do you agree with the following statements about your recent experience of labor and birth? The delivery room staff encouraged me to make decisions about how I wanted my birth to progress.

**Mode of Delivery**

* Q1115 - When you recently gave birth was your baby born vaginally or by c-section? (outcome)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/ndeen/git/perinatal_epi/Data/LTMdata.Public VersionFINAL.csv')
df.head()

,LTMID,mode,Q_Language,Q510a,Q520,Q610,Q705,Q715,Q716,Q740,...,workagef,height,wtgain,WtBeforePreg,bmi,currentwt,fampctpov,inccat,sampwt,statewt
0,70001n,1,EN,1.0,1,2,1.0,5.0,NaN,3.0,...,NaN,60.0,0.0,198.0,38.67,187.0,74.074074,1.0,19.950387,65.930595
1,70002m,1,EN,2.0,1,2,1.0,3.0,2.0,3.0,...,26.0,68.0,23.0,150.0,22.81,145.0,425.925926,5.0,30.288510,100.095275
2,70003n,1,ES,3.0,2,4,1.0,1.0,1.0,1.0,...,NaN,60.0,10.0,148.0,28.90,154.0,24.554942,1.0,23.204468,76.684446
3,70006c,2,EN,1.0,2,4,2.0,4.0,NaN,1.0,...,NaN,64.0,25.0,90.0,15.45,120.0,63.291139,1.0,21.639044,71.511148
4,70007s,3,EN,3.0,1,4,1.0,4.0,NaN,3.0,...,NaN,65.0,16.0,182.0,30.29,189.0,191.835482,2.0,20.981247,69.337307

In [8]:
cols = ['LTMID','Q1325a','Q610','Q885','Q1255', 'insurance','racegrp','Q1860','inccat','Q1115']

sample_df = df[cols]

In [9]:
sample_df.head()

    LTMID  Q1325a  Q610  Q885  Q1255  insurance  racegrp  Q1860  inccat  Q1115
0  70001n     1.0     2   2.0    NaN        1.0      1.0    4.0     1.0    1.0
1  70002m     1.0     2   1.0    NaN        2.0      2.0    7.0     5.0    1.0
2  70003n     1.0     4   2.0    NaN        1.0      1.0    3.0     1.0    1.0
3  70006c     5.0     4   2.0    NaN        3.0      3.0    4.0     1.0    1.0
4  70007s     2.0     4   2.0    NaN        1.0      1.0    4.0     2.0    1.0